<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <form  action="/<%= file  %>/edit" method="get">
        <button type="submit">Edit</button>
      </form>
      <form  action="/<%= file %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
   </li>
  <% end %>
</ul>

<a href="/new">New document</a>

<% if session[:username] %>
  <form action="/users/signout" method="post">
    <p class="user-status">
      Signed in as <%= session[:username] %>
      <button type="submit">Sign Out</button>
    </p>
  </form>
<% else %>
  <form action="/users/signin" method="get">
    <p class="user-status">
      <button type="submit">Sign In</button>
    </p>
  </form>
<% end %>


